/* место для вашего кода */

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px red solid;
    
}
.header__links-list {
    list-style: none;
    gap: 32px;
    display: flex;
    font-size: 18px;
}

.header__links-list-item {
    list-style: circle;
}

.header-logo {
    width: 148px;
    height: 105px;
}

.cover {
    background-image: url(../images/cover.jpg);
    width: 1440px;
    height: 757px;
}

.overlay {
    background-color: rgb(red, green, blue / 0.25);
}

h1 {
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}