/* место для вашего кода */
/* header */

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 92px;
    margin-left: 51px;
    margin-right: 49px;
}
.header__links-list {
    list-style: none;
    gap: 32px;
    display: flex;
    font-size: 18px;
}

.header__links-list-item {
    list-style: circle;
}

.header-logo {
    width: 148px;
    height: 105px;
    margin: auto;
}

.adress {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 240px;
}
/*lots*/


.lots_card-list-item {
    width: 430px;
    min-height: 450px;
}

.cover {
    background-image: url(../images/cover.jpg);
    width: 1440px;
    height: 757px;
    background-size: cover;
    position: relative;
    margin-top: 96px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.cover__title {
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-top: 165px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.letter-spacing-extended_no {
    letter-spacing: 30px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-style: normal;
    position: relative;
    margin-left: 78px;
}

.bet-button {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    border: 1px #fff solid;
    padding: 12px 32px;
    margin-right: 50px;
}

.cover__description {
    display: flex;
    gap: 72px;
    align-items: center;
    justify-content: end;
    margin-top: 120px;
}

.aligned-text_left {
    margin-left: 50px;
}

/*lots-лоты*/

.lots__card-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.lots {
    min-width: 1340px;
    height: 579px;
    padding-top: 180px;
}
.lots_heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-left: 40px;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover;
    width: 430px;
    height: 450px;
    position: relative;
}

.card__title {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.card__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    line-height: 24px;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover;
    width: 430px;
    height: 450px;
    position: relative;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover;
    width: 430px;
    height: 450px;
    position: relative;
}

.card_film {
    padding: 202px 40px 40px 50px;
}

.card_book {
    padding: 30px 40px 50px 40px;
}

.card_picture {
    padding: 54px 40px 50px 40px;
}

.lots__look-more-link {
    text-decoration: underline;
    text-align: left;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 90px;
    margin-top: 30px;
}

/* about */

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    margin-top: 181px;
    height: 487px;
    width: 1340px;
    margin-left: 50px;
    margin-right: 50px;
}



.border-radius {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 95px;
}

.about__logo-image {
    padding: 63px 46px;
}

.about__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 100px;
}

.about__text {
    grid-column-start: 2;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*footer*/

.footer {
    width: 1340px;
    height: 97px;
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
}


.footer__social-list-item {
    width: 240px;
    height: 48px;
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer-menu {
    list-style: none;
    text-align: center;
}

.footer__menu-link_active {
    text-decoration: none;
}
